.discountBox{
  background-color: red;
  width: 50px;
  padding: 5px 10px;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  border-radius: 3px;
}

.lines a:nth-child(1){
  /* border: 1px solid red; */
  background-color: red;
}

